*{
	margin:0px;
	padding:0px;
}
.caja{
	width: 400px;
	height: 400px;
	background-color: #bdbdbd;
	margin-left: auto;
	margin-right:auto;
	border: 1px solid black;
	border-radius: 15px;
}
.registrar_propiedad_h1{
	text-align:center;
	margin-top:10px;
}
.registrar_propiedad {
	margin-left: 60px;
}
.registrar_propiedad input{
	margin-top:10px;
	border-radius: 5px;
	width:263px;
	height:25px;
}
.boton_registrar{
	border-radius: 5px;
	margin-left: 115px;
	margin-top:10px;
	width:140px;
	height:30px;
}
footer{
	height:50px;
	background-color:#bdbdbd;
	margin-top:100px;
}
footer p{
	text-align:center;
	margin-top:10px;
	font-size:20px;
}